*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: #F6F8F9;
}

/*header*/
header{
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo{
  width: 80px;
  vertical-align: middle;
}

h1{
  font-size: 2.5rem;
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
}

/*main*/
.conteiner{
  background-color: white;
  max-width: 1000px;
  margin: auto;
  margin-top: 40px;
  padding-top:20px;
  border: solid 0px rgb(255, 255, 255);
  border-radius: 5px;
  
  }

  /*section*/
  section{
    background-color: rgb(255, 255, 255);
    margin-left: 50px;
    margin-bottom: 10px;
  }

  /*bottoni*/
  .bottone1{
    background-color: #47ADF1;
    border: 2px solid #47ADF1;
    color: #ffffff;
    border-radius: 5px;
    padding:8px;
    display: inline;

  }

  .bottone2{
    background-color: #ffffff;
    border: 2px solid #c4c4c4;
    color: #c4c4c4;
    border-radius: 5px;
    padding:8px;
    display: inline;
  }

  /*hr fa da divisore*/
  hr{
    background-color:#ffffff;
    border-bottom: 3px solid #F6F8F9;
    margin-top: 20px;
  }

  /*list*/
  ul{
    margin-top:30px;
    margin-left:5px
  }

  li{
    list-style-type: none;
  }

  .title{
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 14px;
  }

  /*circle*/
  .circle{
    display: inline-block;
    height: 15px;
    width: 15px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid;
    font-size: 10px;
    margin-right: 10px;
    margin: 15px;
  }

.circle#yes{
border-color: green;
color: green;
}

.circle#no{
  border-color: rgb(196, 0, 0);
  color: rgb(196, 0, 0);
  }

  /*read*/
  .read{
    padding: 8px;
    border-radius: 12px;
    font-size: 12px;
    color: white;
  }

  /*read color*/
  .read#editorial{
    background-color: #47ADF1;
  }

  .read#q1{
    background-color: rgb(161, 96, 223);
  }

  .read#recruiting{
    background-color: rgb(90, 194, 159);
  }

  .read#mobile{
    background-color: rgb(221, 123, 52);
  }

  .read#web{
    background-color: rgb(216, 73, 216);
  }

  .read#sales{
    background-color: rgb(114, 212, 114);
  }